# Entorno / variables
.env
.venv/
venv/
env/
ENV/

# Bytecode y cachés
__pycache__/
*.py[cod]
*.pyc
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Distribución
build/
dist/
*.egg-info/
*.egg

# Flask / webassets
instance/
.webassets-cache

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

#No subir ENV
.env

